* {
    border: none;
    border-radius: 0;
    font-family: "Fira Code", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #abb2bf;
}

#workspaces,
#clock,
#pulseaudio,
#bluetooth,
#battery,
#network,
#cpu,
#memory,
#backlight,
#custom-lock {
    background-color: #282c34;
    padding: 0 12px;
    margin: 4px 3px;
    border-radius: 10px;
    color: #abb2bf;
}

#workspaces button {
    color: #4f5666;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    padding: 0 5px;
}

#workspaces button.active {
    color: #61afef;
    background: transparent;
}

#workspaces button:hover {
    color: #4f5666;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}

#bluetooth {
    color: #61afef;
}

#battery {
    color: #98c379;
}

#network {
    color: #61afef;
}

.modules-right > widget > label,
.modules-right > widget > box {
    margin-left: 0;
}
