* {
    border: none;
    border-radius: 0;
    font-family: "Fira Code", monospace;
    font-weight: 500;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#workspaces,
#mpris,
#clock,
#pulseaudio,
#backlight,
#bluetooth,
#battery,
#network {
    background-color: #282c34;
    padding: 0px 14px;
    font-size: 12px;
    border-radius: 999px;
    color: #abb2bf;
}

#workspaces > span:first-child,
#mpris > span:first-child,
#clock > span:first-child,
#pulseaudio > span:first-child,
#backlight > span:first-child,
#bluetooth > span:first-child,
#battery > span:first-child,
#network > span:first-child {
    margin-bottom: 2px;
}

#mpris span,
#clock span,
#pulseaudio span,
#backlight span,
#bluetooth span,
#battery span,
#network span {
    font-size: 16px;
}

#workspaces { padding: 0px; }
#clock { font-weight: 500; }
#battery { color: #98c379; }
#backlight { color: #efb074; }

#workspaces button {
    font-size: 14px;
    padding: 0px 6px;
    margin: 3px;
    border-radius: 999px;
    background-color: #282c34;
    color: #abb2bf;
    transition: none;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active {
    padding: 0px 20px;
    background-color: #abb2bf;
    color: #282c34;
    transition: all 0.4s ease;
}

#workspaces button:hover {
    background: #282c34;
    color: #abb2bf;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active:hover {
    background-color: #abb2bf;
    color: #282c34;
    box-shadow: none;
    text-shadow: none;
}