* {
  border: none;
  border-radius: 0;
  font-family: "Fira Code", "FiraCode Nerd Font", monospace;
  font-size: 13px;
  font-weight: 500;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #f2f2f2;
}

#custom-nixos,
#custom-terminal,
#custom-files,
#custom-browser,
#network,
#bluetooth,
#pulseaudio,
#battery,
#custom-vpn,
#clock,
#custom-notification {
  background-color: transparent;
  padding: 0px 10px;
  margin: 0px;
}

#custom-nixos {
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
}

#bluetooth {
  font-size: 15px;
}

#pulseaudio {
  font-size: 16px;
}

#custom-vpn {
  font-size: 24px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

#custom-notification {
  font-size: 14px;
  margin-right: 15px;
}
